version: "2"
services:
  api:
    build: .
    volumes:
     - ~/boletodb/upMongo:/home/upMongo
     - ~/boleto_ssh:/home/mundipagg/boleto_ssh
     - ~/boleto_cert:/home/mundipagg/boleto_cert
    ports:
     - "#{CONF_EXPOSEPORT}#:3000"
    environment:
     - API_PORT=#{CONF_APIPORT}#
     - API_VERSION=#{CONF_API_VERSION}#
     - ENVIRONMENT=#{CONF_ENVIRONMENT}#
     - SEQ_URL=#{CONF_SEQ_URL}#
     - SEQ_API_KEY=#{CONF_SEQ_API_KEY}#
     - ENABLE_REQUEST_LOG=#{CONF_ENABLE_REQUEST_LOG}#
     - ENABLE_PRINT_REQUEST=#{CONF_ENABLE_PRINT_REQUEST}#
     - URL_BB_REGISTER_BOLETO=#{CONF_URL_BB_REGISTER_BOLETO}#
     - URL_BB_TOKEN=#{CONF_URL_BB_TOKEN}#
     - MONGODB_URL=#{CONF_MONGODB_URL}#
     - APP_URL=#{CONF_APP_URL}#
     - BOLETO_JSON_STORE=#{CONF_BOLETO_JSON_STORE}#
     - URL_CAIXA=#{CONF_URL_CAIXA}#
     - URL_CITI=#{CONF_URL_CITI}#
     - URL_CITI_BOLETO=#{CONF_URL_CITI_BOLETO}#
     - URL_SANTANDER_TICKET=#{CONF_URL_SANTANDER_TICKET}#
     - URL_SANTANDER_REGISTER=#{CONF_URL_SANTANDER_REGISTER}#
     - TLS_CERT_PATH=#{CONF_TLS_CERT_PATH}#
     - TLS_KEY_PATH=#{CONF_TLS_KEY_PATH}#
     - CERT_BOLETO_CRT=#{CONF_CERT_BOLETO_CRT}#
     - CERT_BOLETO_KEY=#{CONF_CERT_BOLETO_KEY}#
     - CERT_BOLETO_CA=#{CONF_CERT_BOLETO_CA}#
  mongodb:
    image: mongo:latest
    container_name: "mongodb"
    environment:
      - MONGO_DATA_DIR=/data/db
      - MONGO_LOG_DIR=/dev/null
    volumes:
      - ~/boletodb/db:/data/db
      - ~/boletodb/configdb:/data/configdb
      - ~/dump_boletodb:/dump/boletoapi
    ports:
        - 27017:27017
    command: mongod --smallfiles --logpath=/dev/null